<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>登录</title>
</head>
<body>
<h1>欢迎进入登录页面</h1>
<form action="" method="post" id="login" style="text-align: center">
    <br>
    <input placeholder="请输入用户名" type="text" >
    <br>
    <input placeholder="请输入密码" type="password">
    <br>
    <button  type="submit" ><!----><span> 登录 </span></button>
</form>
<a href="https://baidu.com" target="_blank">这是一个连接</a>
<img width="300" height="300" src="/static/1.jpg" sizes="500">

<img width="20%" height="20%" src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1775644191,2654679289&fm=26&gp=0.jpg" >

<table border="1" >
    <tr>
        <td>
            1
        </td>
        <td>
            2
        </td>
    </tr>
     <tr>
        <td>
            3
        </td>
        <td>
            4
        </td>
    </tr>
    <ol>
        <li>
            chenkai
        </li>
        <li>
            ck
        </li>
    </ol>
    <p>显示当前时间{{ year }}</p>
    <a href="{% url 'hello' %}" target="_blank">这是一个用name的连接本地</a>
</table>
</body>
</html>